<div class="row">
  <label for="fieldPlaceholder">Placeholder text</label>
  <app-input 
    type="text" 
    [id]="'fieldPlaceholder'"
    [value]="designPlaceholder"
    [fieldKey]="'placeholderText'"
    (triggerChange)="bindFunc($event)"
  />
</div>
<div class="row">
  <label for="fieldWidth">Input width %</label>
  <app-input 
    [id]="'fieldWidth'"
    [value]="designWidth"
    [fieldKey]="'width'"
    (triggerChange)="bindFunc($event)"
  />
</div>
<div class="row">
  <label for="fieldHeight">Input height</label>
  <app-input 
    [id]="'fieldHeight'"
    [value]="designHeight"
    [fieldKey]="'height'"
    (triggerChange)="bindFunc($event)"
  />
</div>
<div class="row checkbox">
  <label for="fieldRequired">Required</label>
  <app-input-checkbox
    [type]="'checkbox'" 
    [id]="'fieldRequired'"
    [value]="designRequired"
    [fieldKey]="'required'"
    (triggerChange)="bindFunc($event)"
  />
</div>
<div class="row">
  <label for="fieldBorderWidth">Border width</label>
  <app-input 
    [id]="'fieldBorderWidth'"
    [value]="designBorderWidth"
    [fieldKey]="'borderWidth'"
    (triggerChange)="bindFunc($event)"
  />
</div>
<div class="row">
  <label for="">Border color</label>
  <app-input-color 
    [type]="'color'"
    [id]="'fieldBorderColor'"
    [value]="designBorderColor"
    [fieldKey]="'borderColor'"
    (triggerChange)="bindFunc($event)"
  />
</div>
<div class="row">
  <label for="fieldBorderStyle">Border style</label>
  <app-select 
    [id]="'fieldBorderStyle'"
    [value]="designBorderStyle"
    [fieldKey]="'borderStyle'"
    (triggerChange)="bindFunc($event)"
    [options]="borderStylesOptions$ | async"
  />
</div>
<div class="row">
  <label for="fieldFontSize">Font size</label>
  <app-input 
    [id]="'fieldFontSize'"
    [value]="designFontSize"
    [fieldKey]="'fontSize'"
    (triggerChange)="bindFunc($event)"
  />
</div>
<div class="row">
  <label for="fieldFontWeight">Font weight</label>
  <app-select 
    [id]="'fieldFontWeight'"
    [value]="designFontWeight"
    [fieldKey]="'fontWeight'"
    (triggerChange)="bindFunc($event)"
    [options]="fontWeightOptions$ | async"
  />
</div>
<div class="row">
  <label for="">Color</label>
  <app-input-color 
    [type]="'color'"
    [id]="'fieldColor'"
    [value]="designColor"
    [fieldKey]="'color'"
    (triggerChange)="bindFunc($event)"
  />
</div>