<div *ngIf="element" [ngSwitch]="element.type">

  <div *ngSwitchCase="formElementType.Input">
    <app-input
      [placeholderText]="element.styles.placeholderText"
      [width]="element.styles.width"
      [height]="element.styles.height!"
      [borderWidth]="element.styles.borderWidth!"
      [borderColor]="element.styles.borderColor!"
      [borderStyle]="element.styles.borderStyle!"
      [fontSize]="element.styles.fontSize"
      [fontWeight]="element.styles.fontWeight"
      [color]="element.styles.color"
      [required]="element.styles.required"
      (click)="selectElement($event)"
    ></app-input>
  </div>
  
  <div *ngSwitchCase="formElementType.Textarea">
    <app-textarea
      [placeholderText]="element.styles.placeholderText"
      [width]="element.styles.width"
      [height]="element.styles.height!"
      [borderWidth]="element.styles.borderWidth!"
      [borderColor]="element.styles.borderColor!"
      [borderStyle]="element.styles.borderStyle!"
      [fontSize]="element.styles.fontSize"
      [fontWeight]="element.styles.fontWeight"
      [color]="element.styles.color"
      [backgroundColor]="element.styles.backgroundColor!"
      [required]="element.styles.required"
      (click)="selectElement($event)"
    >
    </app-textarea>
  </div>
 
  <div *ngSwitchCase="formElementType.Button">
    <app-button
      [placeholderText]="element.styles.placeholderText"
      [width]="element.styles.width"
      [height]="element.styles.height!"
      [borderWidth]="element.styles.borderWidth!"
      [borderColor]="element.styles.borderColor!"
      [borderStyle]="element.styles.borderStyle!"
      [fontSize]="element.styles.fontSize"
      [fontWeight]="element.styles.fontWeight"
      [color]="element.styles.color"
      [backgroundColor]="element.styles.backgroundColor!"
      (click)="selectElement($event)"
    ></app-button>
  </div>
  
  <div *ngSwitchCase="formElementType.Checkbox">
    <div class="checkbox-wrap">
      <app-input-checkbox
        [id]="element.id"
        [width]="element.styles.width"
        (click)="selectElement($event)"
        [required]="element.styles.required"
      ></app-input-checkbox>
      <label 
        [for]="element.id"
        [style.fontSize]="element.styles.fontSize + 'px'"
        [style.fontWeight]="element.styles.fontWeight"
        [style.color]="element.styles.color"
      >
        {{ element.styles.placeholderText }}
      </label>
    </div>
  </div>
  
  <div *ngSwitchCase="formElementType.Select">
    <app-select
      [placeholderText]="element.styles.placeholderText"
      [width]="element.styles.width"
      [height]="element.styles.height!"
      [borderWidth]="element.styles.borderWidth!"
      [borderColor]="element.styles.borderColor!"
      [borderStyle]="element.styles.borderStyle!"
      [fontSize]="element.styles.fontSize"
      [fontWeight]="element.styles.fontWeight"
      [color]="element.styles.color"
      [required]="element.styles.required"
      [options]="element.options!"
      (click)="selectElement($event)"
    ></app-select>
  </div>
  
</div>