<div class="row">
  <label for="generalDesignHeading">Form heading</label>
  <input 
    #heading 
    type="text" 
    id="generalDesignHeading"
    [value]="designPlaceholder" 
    (keyup)="bindFunc({key: 'heading', val: heading.value})"
  >
</div>
<div class="row">
  <label for="generalDesignBorderWidth">Border width</label>
  <input 
    #borderWidth 
    type="text" 
    id="generalDesignBorderWidth"
    [value]="designBorderWidth" 
    (keyup)="bindFunc({key: 'borderWidth', val: borderWidth.value})"
  >
</div>
<div class="row">
  <label for="generalDesignBorderColor">Border color</label>
  <input 
    #borderColor
    type="color"
    id="generalDesignBorderColor"
    [value]="designBorderColor"
    (change)="bindFunc({key: 'borderColor', val: borderColor.value})"
  >
</div>
<div class="row">
  <label for="generalDesignBorderStyle">Border style</label>
  <select 
    #borderStyle
    id="generalDesignBorderStyle"
    [value]="designBorderStyle"
    (change)="bindFunc({key: 'borderStyle', val: borderStyle.value})"
  >
    <option value="solid">solid</option>
    <option value="dotted">dotted</option>
    <option value="dashed">dashed</option>
    <option value="double">double</option>
    <option value="groove">groove</option>
  </select>
</div>
<div class="row">
  <label for="generalDesignFontSize">Font size</label>
  <input 
    #fontSize
    id="generalDesignFontSize"
    type="text" 
    [value]="designFontSize"
    (keyup)="bindFunc({key: 'fontSize', val: fontSize.value})"
  >
</div>
<div class="row">
  <label for="generalDesignFontWeight">Font weight</label>
  <select 
    #fontWeight
    id="generalDesignFontWeight"
    [value]="designFontWeight"
    (change)="bindFunc({key: 'fontWeight', val: fontWeight.value})"
  >
    <option value="200">200</option>
    <option value="400">400</option>
    <option value="500">500</option>
    <option value="600">600</option>
  </select>
</div>
<div class="row">
  <label>Color</label>
  <input 
    #color
    id="generalDesignColor"
    type="color"
    [value]="designColor"
    (change)="bindFunc({key: 'color', val: color.value})"
  >
</div>
<div class="row">
  <label>Background color</label>
  <input 
    #backgroundColor
    id="generalDesignBackgroundColor"
    type="color"
    [value]="designBackgroundColor" 
    (change)="bindFunc({key: 'backgroundColor', val: backgroundColor.value})"
  >
</div>