<div class="row">
  <label for="fieldPlaceholder">Placeholder text</label>
  <input 
    #placeholderText 
    id="fieldPlaceholder"
    type="text" 
    [value]="designPlaceholder" 
    (keyup)="bindFunc({elementId: designId, key: 'placeholderText', val: placeholderText.value})"
  >
</div>
<div class="row">
  <label for="fieldWidth">Checkbox width (px)</label>
  <input 
    #width 
    id="fieldWidth"
    type="text" 
    [value]="designWidth" 
    (keyup)="bindFunc({elementId: designId, key: 'width', val: width.value})"
  >
</div>
<div class="row checkbox">
  <label for="fieldRequired">Required</label>
  <input 
    #required 
    id="fieldRequired"
    type="checkbox" 
    [checked]="designRequired" 
    (change)="bindCheckboxFunc($event, designId)"
  >
</div>
<div class="row">
  <label for="fieldFontSize">Font size</label>
  <input 
    #fontSize
    id="fieldFontSize"
    type="text" 
    [value]="designFontSize" 
    (keyup)="bindFunc({elementId: designId, key: 'fontSize', val: fontSize.value})"
  >
</div>
<div class="row">
  <label for="fieldFontWeight">Font weight</label>
  <select 
    #fontWeight
    id="fieldFontWeight"
    [value]="designFontWeight"
    (change)="bindFunc({elementId: designId , key: 'fontWeight', val: fontWeight.value})"
  >
    <option value="200">200</option>
    <option value="400">400</option>
    <option value="500">500</option>
    <option value="600">600</option>
  </select>
</div>
<div class="row">
  <label for="">Color</label>
  <input 
    #color
    id="fieldColor"
    type="color"
    [value]="designColor"
    (change)="bindFunc({elementId: designId , key: 'color', val: color.value})"
  >
</div>