<div [ngSwitch]="element.type">
  <div *ngSwitchCase="'input'">
    <input 
      type="text" 
      #placeholderInput
      (click)="selectElement($event)"
      [ngStyle]="{
        'width': element.width + '%',
        'height': element.height + 'px',
        'border-width': element.borderWidth + 'px',
        'border-color': element.borderColor,
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        boxSizing: 'border-box'
      }"
      [required]="element.required"
      [placeholder]="element.placeholderText"
      />
    </div>
  <div *ngSwitchCase="'textarea'">
    <textarea 
      name="" 
      id="" 
      (click)="selectElement($event)"
      [ngStyle]="{
        width: element.width + '%',
        height: element.height + 'px',
        'border-width': element.borderWidth + 'px',
        'border-color': element.borderColor,
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        boxSizing: 'border-box'
      }"
      [required]="element.required"
      [placeholder]="element.placeholderText"
    ></textarea>
  </div>
  <div *ngSwitchCase="'button'">
    <button
      #ass
      [ngStyle]="{
        'width': element.width + '%',
        'height': element.height + 'px',
        'border-width': element.borderWidth + 'px',
        'border-color': element.borderColor,
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        'background-color': element.backgroundColor,
        boxSizing: 'border-box'
      }"
      (click)="selectElement($event)"
    >
      {{ element.placeholderText }}
    </button>
  </div>
  <div *ngSwitchCase="'checkbox'">
    <div class="checkbox-wrap">
      <input 
        type="checkbox"
        [id]="element.id"
        [ngStyle]="{
          'width': element.width + 'px',
          'height': element.width + 'px',
          'border-width': element.borderWidth + 'px',
          'border-color': element.borderColor,
          'border-style': element.borderStyle,
          'font-size': element.fontSize + 'px',
          'font-weight': element.fontWeight,
          'color': element.color,
          boxSizing: 'border-box'
        }"
        (click)="selectElement($event)"
        [required]="element.required"
      >
      <label 
        [for]="element.id"
        [ngStyle]="{
          'font-size': element.fontSize + 'px',
          'font-weight': element.fontWeight,
          'color': element.color
        }"
      >
        {{ element.placeholderText }}
      </label>
    </div>
  </div>
  <div *ngSwitchCase="'select'">
    <select 
      name="" 
      id=""
      (click)="selectElement($event)"
      [required]="element.required"
      [ngStyle]="{
        'width': element.width + '%',
        'height': element.height + 'px',
        'border-width': element.borderWidth + 'px',
        'border-color': element.borderColor,
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color
      }"
    >
      <option 
        disabled
        [selected]="!element.options?.length"
      >{{ element.placeholderText }}</option>
      <option 
        *ngFor="let option of element.options"
        [value]="option.content"
        [selected]="element.options?.length"
      >{{ option.content }}</option>
    </select>
  </div>
</div>