.wrapper
  padding: 30px
  display: flex
  align-items: flex-start
  justify-content: space-between

.wrapper > app-accordion,
.wrapper > app-form-builder,
.wrapper > app-form-elements
  flex: 0 1 30%
  min-height: calc(100vh - 19vh)
  display: grid

.spacer
  flex: 1 1 auto

.app-header
  padding: 0 30px

.wrapper-item
  width: 100%