<mat-card class="wrapper-item">
  <mat-card-content>
    <h2>Form Elements</h2>
    <div class="items-container">
      <div
        id="formElements"
        cdkDropList
        [cdkDropListData]="defaultElements$"
        class="items-list"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListConnectedTo]="['doneList']"
        (cdkDropListDropped)="dragService.drop($event)"
        [cdkDropListEnterPredicate]="dragService.enterPredicate"
        (cdkDropListEntered)="dragService.entered"
        (cdkDropListExited)="dragService.exited($event)"
      >
        <app-drag-section-list-view
          [items]="defaultElements$ | async"
        ></app-drag-section-list-view>
      </div>
    </div>
  </mat-card-content>
</mat-card>