<div *ngIf="element | async as currentElement; else empty">
  <div [ngSwitch]="currentElement.type">
    <div *ngSwitchCase="'input'">
      <div class="row">
        <label for="">Placeholder text</label>
        <input 
          #placeholderText 
          type="text" 
          [value]="currentElement.placeholderText" 
          (keyup)="changeField({elementId: currentElement.id! ,key: 'placeholderText', val: placeholderText.value})"
        >
      </div>
      <div class="row">
        <label for="">Input width %</label>
        <input 
          #width 
          type="text" 
          [value]="currentElement.width" 
          (keyup)="changeField({elementId: currentElement.id! ,key: 'width', val: width.value})"
        >
      </div>
    </div>
    <div *ngSwitchCase="'textarea'">
      
    </div>
    <div *ngSwitchCase="'button'">
      
    </div>
    <div *ngSwitchCase="'checkbox'">
      
    </div>
    <div *ngSwitchCase="'select'">
      
    </div>
  </div>
</div>



<ng-template #empty>
  <div>Select a form element</div>
</ng-template> 