<div [ngSwitch]="element.type">
  <div *ngSwitchCase="'input'">
    <input 
      type="text" 
      (click)="selectElement()"
      [ngStyle]="{
        'width': element.width + '%',
        'height': element.height + 'px',
        'border-width': element.borderWidth + 'px',
        'border-color': element.borderColor,
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        boxSizing: 'border-box'
      }"
      [required]="element.required"
      [placeholder]="element.placeholderText"
      [disabled]="isDisabled"
      />
    </div>
  <div *ngSwitchCase="'textarea'">
    <textarea 
      name="" 
      id="" 
      (click)="selectElement()"
      [ngStyle]="{
        width: element.width + '%',
        height: element.height + 'px',
        'border-width': element.borderWidth + 'px',
        'border-color': element.borderColor,
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        boxSizing: 'border-box'
      }"
      [required]="element.required"
      [disabled]="isDisabled"
      [placeholder]="element.placeholderText"
    ></textarea>
  </div>
  <div *ngSwitchCase="'button'">
    <button
      [ngStyle]="{
        'width': element.width + '%',
        'height': element.height + 'px',
        'border-width': element.borderWidth + 'px',
        'border-color': element.borderColor,
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        'background-color': element.backgroundColor,
        boxSizing: 'border-box',
        pointerEvents: isDisabled ? 'none' : ''
      }"
      (click)="selectElement()"
      [disabled]="isDisabled"
    >
      {{ element.placeholderText }}
    </button>
  </div>
  <div *ngSwitchCase="'checkbox'">
    <input 
    type="checkbox"
    (click)="selectElement()"
    [required]="element.required"
    [disabled]="isDisabled"
    >
    <label for="">
      {{ element.placeholderText }}
    </label>
  </div>
  <div *ngSwitchCase="'select'">
    <select 
      name="" 
      id=""
      (click)="selectElement()"
      [ngStyle]="{
        'width': element.width + '%',
        'height': element.height + 'px',
        'border-width': element.borderWidth + 'px',
        'border-color': element.borderColor,
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color
      }"
    >
      <option value="">One</option>
      <option value="">Two</option>
      <option value="">Three</option>
    </select>
  </div>
</div>