<div [ngSwitch]="element.type">
  <div *ngSwitchCase="'input'">
    <input 
      type="text" 
      [ngStyle]="{
        'width': element.width + '%',
        'height': element.height + 'px',
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        boxSizing: 'border-box'
      }"
      [required]="element.required"
      [placeholder]="element.placeholderText"
      [disabled]="isDisabled"
      />
    </div>
  <div *ngSwitchCase="'textarea'">
    <textarea 
      name="" 
      id="" 
      [ngStyle]="{
        width: element.width + '%',
        height: element.height + 'px',
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        boxSizing: 'border-box'
      }"
      [required]="element.required"
      [disabled]="isDisabled"
      [placeholder]="element.placeholderText"
    ></textarea>
  </div>
  <div *ngSwitchCase="'button'">
    <button
      [ngStyle]="{
        'width': element.width + '%',
        'height': element.height + 'px',
        'border-style': element.borderStyle,
        'font-size': element.fontSize + 'px',
        'font-weight': element.fontWeight,
        'color': element.color,
        boxSizing: 'border-box',
        pointerEvents: isDisabled ? 'none' : ''
      }"
      [disabled]="isDisabled"
    >
      {{ element.placeholderText }}
    </button>
  </div>
  <div *ngSwitchCase="'checkbox'">
    <label for="">
      {{ element.placeholderText }}
    </label>
    <input 
      type="checkbox"
      [required]="element.required"
      [disabled]="isDisabled"
    >
  </div>
</div>