<mat-card class="wrapper-item">
  <mat-card-content>
    <cdk-accordion class="mui-accordion">
      <cdk-accordion-item
        #accordionItem="cdkAccordionItem"
        class="mui-accordion-item"
        role="button"
        [expanded]="true"
        tabindex="0"
        [attr.id]="'accordion-header-1'"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-1'">
        <div class="mui-accordion-item-header" (click)="accordionItem.toggle()">
          'Form General Styling'
          <span class="mui-accordion-item-description">
            Click to {{ accordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div
          class="mui-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-1'"
          [attr.aria-labelledby]="'accordion-header-1'">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
          excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
          veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa? 1111
        </div>
      </cdk-accordion-item>
      <cdk-accordion-item
        #accordionItem1="cdkAccordionItem"
        class="mui-accordion-item"
        role="button"
        tabindex="1"
        [attr.id]="'accordion-header-2'"
        [attr.aria-expanded]="accordionItem1.expanded"
        [attr.aria-controls]="'accordion-body-2'">
        <div class="mui-accordion-item-header" (click)="accordionItem1.toggle()">
          'Field styling'
          <span class="mui-accordion-item-description">
            Click to {{ accordionItem1.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div
          class="mui-accordion-item-body"
          role="region"
          [style.display]="accordionItem1.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-2'"
          [attr.aria-labelledby]="'accordion-header-2'">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
          excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
          veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa? 2222
          <!-- {{ val }} -->
          <!-- {{ val.type }} -->
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </mat-card-content>
</mat-card>