<app-input-row
  [type]="'text'" 
  [id]="'fieldPlaceholder'"
  [value]="designPlaceholder"
  [fieldKey]="'placeholderText'"
  [labelText]="'Button text'"
  (triggerChange)="bindFunc($event)"
></app-input-row>

<app-input-row
  [type]="'text'"
  [id]="'fieldWidth'"
  [value]="designWidth"
  [fieldKey]="'width'"
  [labelText]="'Button width %'"
  (triggerChange)="bindFunc($event)"
></app-input-row>

<app-input-row
  [type]="'text'"
  [id]="'fieldHeight'"
  [value]="designHeight"
  [fieldKey]="'height'"
  [labelText]="'Button height'"
  (triggerChange)="bindFunc($event)"
></app-input-row>

<app-input-row
  [type]="'text'"
  [id]="'fieldBorderWidth'"
  [value]="designBorderWidth"
  [fieldKey]="'borderWidth'"
  [labelText]="'Border width'"
  (triggerChange)="bindFunc($event)"
></app-input-row>

<app-input-color-row
  [type]="'color'"
  [id]="'fieldBorderColor'"
  [value]="designBorderColor"
  [fieldKey]="'borderColor'"
  [labelText]="'Border color'"
  (triggerChange)="bindFunc($event)"
></app-input-color-row>

<app-select-row
  [id]="'fieldBorderStyle'"
  [value]="designBorderStyle"
  [fieldKey]="'borderStyle'"
  [labelText]="'Border style'"
  [options]="borderStylesOptions$ | async"
  (triggerChange)="bindFunc($event)"
></app-select-row>

<app-input-row
  [type]="'text'"
  [id]="'fieldFontSize'"
  [value]="designFontSize"
  [fieldKey]="'fontSize'"
  [labelText]="'Font size'"
  (triggerChange)="bindFunc($event)"
></app-input-row>

<app-select-row
  [id]="'fieldFontWeight'"
  [value]="designFontWeight"
  [fieldKey]="'fontWeight'"
  [labelText]="'Font weight'"
  [options]="fontWeightOptions$ | async"
  (triggerChange)="bindFunc($event)"
></app-select-row>

<app-input-color-row
  [type]="'color'"
  [id]="'fieldColor'"
  [value]="designColor"
  [fieldKey]="'color'"
  [labelText]="'Color'"
  (triggerChange)="bindFunc($event)"
></app-input-color-row>

<app-input-color-row
  [type]="'color'"
  [id]="'fieldBackgroundColor'"
  [value]="designBackgroundColor"
  [fieldKey]="'backgroundColor'"
  [labelText]="'Background Color'"
  (triggerChange)="bindFunc($event)"
></app-input-color-row>
