<div *ngIf="formStyles | async as formData; else loading">
  <app-form-general-design-view
    [designPlaceholder]="formData.heading"
    [designBorderWidth]="formData.borderWidth"
    [designBorderColor]="formData.borderColor"
    [designBorderStyle]="formData.borderStyle"
    [designFontSize]="formData.fontSize"
    [designFontWeight]="formData.fontWeight"
    [designColor]="formData.color"
    [designBackgroundColor]="formData.backgroundColor"
    (triggerChange)="changeGeneral($event)"
  ></app-form-general-design-view>
</div>
<ng-template #loading>
  <div>Loading ...</div>
</ng-template> 