<mat-card class="wrapper-item">
  <div *ngIf="formStyles | async as formData; else loading">
    <mat-card-content 
      [ngStyle]="{
        'background-color': formData.backgroundColor,
        'border-width': formData.borderWidth + 'px',
        'border-color': formData.borderColor,
        'border-style': formData.borderStyle
      }"
    >
      <h2 
        [ngStyle]="{
          'font-size': formData.fontSize + 'px',
          'font-weight': formData.fontWeight,
          'color': formData.color
        }
      ">
        {{ formData.heading }}
      </h2>
      <div class="items-container">    
        <div
          [ngStyle]="{'min-height':'60px'}"
          cdkDropList
          id="doneList"
          [cdkDropListData]="elements$"
          [cdkDropListSortingDisabled]="false"
          class="items-list rec"
          (cdkDropListDropped)="onDrop($event)">
            <div class="items-box" *ngFor="let item of elements$ | async" cdkDrag>
              <app-form-element [element]="item" [isDisabled]="disableBool"></app-form-element>
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            </div>
        </div>
      </div>
    </mat-card-content>
  </div>  
  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template> 
</mat-card>
