<mat-card class="wrapper-item">
  <mat-card-content>
    <h2>Form Builder</h2>
    <div class="items-container">    
      <div
        [ngStyle]="{'min-height':'60px'}"
        cdkDropList
        id="doneList"
        [cdkDropListData]="elements"
        [cdkDropListSortingDisabled]="false"
        class="items-list rec"
        (cdkDropListDropped)="onDrop($event)">
          <div class="items-box" *ngFor="let item of elements" cdkDrag>
            <app-form-element  [element]="item"></app-form-element>
          </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>